body {
  background-color: #635985;
  color: white;
  font-family: 'Tilt Warp', cursive;
  margin: 0;
}

img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #443768;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.title {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}

.score-info {
  text-align: center;
  font-size: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.scores-container {
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-top: 20px;
}

.score-box {
  width: 180px;
  height: 200px;
  border-color: white;
  border-width: 2px;
  display: flex;
  flex-direction: column;
}

.sign {
  width: 180px;
  height: 160px;
  margin-bottom: 12px;
  text-align: center;
}

.score {
  text-align: center;
  font-size: 18px;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 75px;
}

.btn {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  border: 10px solid #b19cd9;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), 
  -2px -2px 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover {
  border: 10px solid #443768;
}

.btn.rock {
  background-image: url('rock.png');
  background-size: contain;
}

.btn.paper {
  background-image: url('paper.png');
  background-size: contain;
}

.btn.scissors {
  background-image: url('scissors.png');
  background-size: contain;
}

.scoreboard {
  padding-bottom: 30px;
}

.footer {
  text-align: center;
  margin-top: 150px;
}

.flip {
  transform: rotateY(180deg);
}

/* when the game is over, the modal will appear active and will prompt the user if they want to restart */

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: #443768;
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;  
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
}

.btn-restart {
  padding: 15px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #635985;
  color: white;
  font-size: 18px;
  font-family: 'Tilt Warp', cursive;
  cursor: pointer;
}


/* darkens the background screen when the game is over and the modal screen appears, very cool */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}